@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
* {
  margin: 0;
  padding: 0;
	border: none;
}
html, html * {
	text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smooth: never;
  font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.nav-wrapper {
	position: absolute;
	padding: 1%;
	z-index: 100;
}

.header-front {
	height: 100vh;
}
.section {
	min-height: 100vh;
	position: relative;
}
.justify-text {
	text-align: justify;
}

.front-wrapper {
	text-align: center;
	text-transform: uppercase;
	color: #3498DB;
}
.hello {
	font-size: 10.1rem;
	font-weight: 300;
	line-height: 1;
}
.skill {
	font-size : 1.8rem;
	font-weight: 300;
}
.name {
	font-size: 4.6rem;
	font-weight: 300;
}
.header-index {
	background-size: auto 100vh;
	min-height: 100vh;
}

.header-text {
	font-family: 'Open Sans Condensed', open sans;
	position: absolute;
	top: 25vh;
	width: 100%;
	font-size: x-large;
}
@media screen and (max-width: 470px) {
	.hello {
		font-size: 26vw;
	}
	.name { 
		font-size: 11.8vw;
	}
	.skill {
		font-size: 4.6vw
	}
}
.work-container {
	font-size: 1.3rem;
	padding-top: 5%;
	text-transform: uppercase;
}

.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}

.hero {
	position: relative;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.hero__imgwrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hero__img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 100vh;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.hero__imgwrap .tilt__back,
.hero__imgwrap .tilt__front {
	background-size: contain;
}

@media screen and (min-aspect-ratio: 1440/960) {
	.hero__imgwrap .tilt__back,
	.hero__imgwrap .tilt__front,
	.header-index {
		background-size: contain;
	}
	.hero__img {
		width: 100vw;
		height: auto;
	}
}
.panel.row .col {
	padding: 0px;
	margin-right: 5rem
}
.panel.row .col:nth-child(3) {
	margin-right: 0px;
}
.panel-title {
	text-transform: uppercase;
	letter-spacing: 1vw;
	margin-bottom: 2vw;
}
.panel-title:after {
	margin: 3rem 0px auto 0px;
	background-color: black;
	height: .1rem;
	width: 2.5rem;
	content: '';
	display: block;
}
.panel-content {
	font-size: 1.3rem;
}
.panel-content p:nth-child(2) {
	font-weight: bold;
}
.panel-image {
	height: 250px;
}
.line {
  position: relative;
  height: 0.1rem;
  background-color: #e8e8e8;
  margin: 5rem -0.75rem;
}
	
@media screen and (min-width: 601px) {
	.panel.row .col.m6 {
		width: 43%
	}
	
}
@media screen and (min-width: 993px) {
	.panel.row .col.l6 {
		width: 45%;
	}
}

/************** skill chart **********/

#myChart {
  cursor: crosshair
}

.skills-chart {
  text-align: center;
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
}

.skills-chart-legend {
  margin: 0 auto 15px
}

.skills-chart-canvas {
  max-width: 700px;
  margin: auto
}

.skills-chart-legend {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em
}

.skills-chart-legend:before {
  content: "";
  display: block;
  float: left;
  margin: 3px 0 0 -15px;
  height: 9px;
  width: 9px
}

.skills-chart-legend--interest {
  color: #2bb0d4
}

.skills-chart-legend--interest:before {
  background: #2bb0d4
}

.skills-chart-legend--skill {
  color: #61c191
}

.skills-chart-legend--skill:before {
  background: #61c191
}

/******************* footer *********************/
blockquote.flow-text {
	color: #3498DB;
	border-color: #67809F;
}
.link-container {
	text-align: center;
	font-size: 1.3rem;
}
.link-container a {
	color: #EEEEEE;
	text-transform: uppercase;
}