@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {
	background-color: #F2F1EF;
}
* {
  margin: 0;
  padding: 0; 
}
.nav-wrapper {
	position: absolute;
	padding: 1%;
}

.header-front {
	height: 100vh;
}
/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.front-wrapper {
	text-align: center;
	text-transform: uppercase;
	color: #3498DB;
}
.hello {
	font-size: 10.1rem;
	font-weight: 300;
	line-height: 1;
}
.skill {
	font-size : 1.8rem;
	font-weight: 300;
}
.name {
	font-size: 4.6rem;
	font-weight: 300;
}

.header-index {
	background: url('../img/1.jpg') no-repeat center center;
	display: block;
	background-size: auto 100vh;
	height: 100vh;
}

.header-text {
	font-family: 'Open Sans Condensed', open sans;
	position: absolute;
	top: 25vh;
	width: 100%;
	font-size: x-large;
}

.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}

.hero {
	position: absolute;
	top: 50px;
	left: 50px;
	bottom: 50px;
	right: 50px;
	overflow: hidden;
	text-align: center;
}

.hero__imgwrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hero__imgwrap::after {
	content: '';
	position: absolute;
	background: rgba(76,0,1,0.1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.hero__img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 100vh;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.hero__imgwrap .tilt__back,
.hero__imgwrap .tilt__front {
	background-size: auto 100vh;
}

@media screen and (min-aspect-ratio: 1440/960) {
	.hero__imgwrap .tilt__back,
	.hero__imgwrap .tilt__front,
	.header-index {
		background-size: 100vw auto;
	}
	.hero__img {
		width: 100vw;
		height: auto;
	}
}

@media screen and (max-width: 40em){
	.codrops-header h1 {
		font-size: 2.5em;
	}
	.hero {
		left: 20px;
		bottom: 20px;
		right: 20px;
		top: 20px;
	}
	.github-link {
		top: 40px;
		right: 40px;
	}
	.codrops-links {
		top: 35px;
		left: 30px;
	}
	.mobile-note {
		display: block;
	}
}

@media screen and (max-width: 40em) {
	.hero {
		left: 20px;
		bottom: 20px;
		right: 20px;
		top: 20px;
	}
}